.main{
    width: 425px;
    height: 425px;
    background-color: brown;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.div{
    position: absolute;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 10px;
    background-color: cornsilk;
    display: flex; 
    justify-content: center;
    align-items:  center;
}
